@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-cream: #faf6ee;
  --color-gold: #c5a15b;
  --color-espresso: #4e3120;
  --color-cocoa: #2e2620;

  --font-display: "Cormorant Garamond", serif;
  --font-body: "Inter", sans-serif;
}